<h1>Testimonials</h1>

<!-- This is an SEO change -->
<!-- Applied a Review schema to testimonials -->
<pb-article>
  <h2 name itemprop="author">Bob Jones</h2>
  <p desc itemprop="reviewBody">
    <!-- This is a semantic HTML change -->
    <!-- The mark element denotes the review score -->
    <mark itemprop="reviewRating">5/5</mark> This app single-handedly saved me
      from bankruptcy!
  </p>
</pb-article>

<pb-article>
  <h2 name itemprop="author">Dr. Roberts</h2>
  <p desc itemprop="reviewBody">
    <mark itemprop="reviewRating">7/5</mark> Definitely not malware!
  </p>
</pb-article>

<pb-article>
  <h2 name itemprop="author">Sally Webster</h2>
  <p desc itemprop="reviewBody">
    <mark itemprop="reviewRating">3/5</mark> A perfectly adequate budgeting app.
  </p>
</pb-article>
