<div class="page-area">

  <pb-article>
    <h1 name itemprop="name">Stay on track</h1>
    <p desc itemprop="description">
      Do you know where you are spending your money? If you really stop to track it down,
      you would get surprised! Proper budget management depends on real data... and this app
      will help you with that!
    </p>
  </pb-article>

  <pb-article>
    <h1 name itemprop="name">Alerts</h1>
    <p desc itemprop="description">
      What if your clothing budget ended? You will get an alert. The goal is to never go
      over the budget.
    </p>
  </pb-article>

  <pb-article>
    <h1 name itemprop="name">Results</h1>
    <p desc itemprop="description">
      People who stick to a financial plan, budgeting every expense, get out of debt faster!
      Also, they to live happier lives... since they expend without guilt or fear... because
      they know it is all good and accounted for.
    </p>
  </pb-article>

  <pb-article>
    <h1 name itemprop="name">Free</h1>
    <p desc itemprop="description">
      This app is free!!! And you are the only one holding your data!
    </p>
  </pb-article>

  <pb-article>
    <h1 name itemprop="name">Stay on track</h1>
    <p desc itemprop="description">
      Do you know where you are spending your money? If you really stop to track it down,
      you would get surprised! Proper budget management depends on real data... and this app
      will help you with that!
    </p>
  </pb-article>

  <pb-article>
    <h1 name itemprop="name">Alerts</h1>
    <p desc itemprop="description">
      What if your clothing budget ended? You will get an alert. The goal is to never go
      over the budget.
    </p>
  </pb-article>

  <pb-article>
    <h1 name itemprop="name">Results</h1>
    <p desc itemprop="description">
      People who stick to a financial plan, budgeting every expense, get out of debt faster!
      Also, they to live happier lives... since they expend without guilt or fear... because
      they know it is all good and accounted for.
    </p>
  </pb-article>

  <pb-article>
    <h1 name itemprop="name">Chart</h1>
    <p desc itemprop="description">
      <!-- This is an a11y change -->
      <!-- If this chart worked, it would be important to provide alt text -->
      <canvas id="myChart" width="400" height="400" aria-describedby="myChartAlt"></canvas>
      <span id="myChartAlt">A very important chart that shows very important things.</span>
    </p>
  </pb-article>

  <pb-article>
    <h1 name itemprop="name">Cooler Chart</h1>
    <p desc itemprop="description" id="coolChartCont">
        <pb-pie></pb-pie>
        <span id="coolChartAlt">A cool chart that shows very cool things.</span>
    </p>
</pb-article>

</div>
