* {
    box-sizing: border-box;
}

body {
    /* This is an SEO change */
    font-size: 12px;
    font-family: Tahoma, Arial;
}

nav {
    width: 100%;
    background-color: #4d5791;
    height: 44px;
    padding: 0 40px;
}

nav ul,
nav ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

nav ul li a:hover  {
    background-color: white;
    color: #4d5791;
}

div.hero {
    height: 350px;
    background-color: #b4c6f0;
    background-image: url('bg.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
}

div.hero h1,
div.hero h2 {
    text-align: center;
    margin: 0;
}

div.hero h1 {
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}

div.hero h2 {
    /* This is an a11y change */
    color: #454e82;
}

main {
    padding: 40px;
    width: 100%;
}

.page-area {
    max-width: 768px;
    /* display: inline-block; */

    /* Extra changes made by Paul Warner */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

footer {
    height: 50px;
    background-color: #b4c6f0;
    padding: 40px;
}

.skip {
    display: block;
    line-height: 44px;
    padding: 0 20px;
    margin-top: -44px;
}

.skip:focus {
    margin-top: 0;
}

.center {
    text-align: center;
}

main article {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    text-align: justify;
    margin: 20px;
}

@media screen and (min-width: 768px) {
    main article {
        margin: 10px;
    }
}

/* Extra changes made by Paul Warner */
.aside-container {
    display: flex;
    flex-direction: row;
}

aside {
    width: 25%;
    border-left: 4px solid black;
    display: inline-block;
    padding: 1em;
}